body {
	font-family: 'Roboto', sans-serif;
	background-image: url('fundo.png');
	background-repeat: no-repeat;
	background-size: cover;
}

label {
	padding-left: 10px;
	padding-right: 10px;
	font-size: large;
	color: black;
}

header {
	display: flex;
	height: 100px;
	width: 1982px;
	background-color: rgba(255, 255, 255, 0.7);
}

.logo {
	height: 300px;
	margin-right: auto;
}

.caixa {
	display: flex;
	align-items: center;
	padding: 10px;

}

nav {
	position: absolute;
	top: 25px;
	right: 0px;
	left: 1250px;
	width: 940px;
	margin: 0 auto;
}

nav a {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 22px;
	text-decoration: none;
	color: #0a1551;

}

.lojometro {
	background-color: transparent;
	text-align: center;
	height: 50px;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	border: none;
	font-size: 24px;
	font-weight: 700;
	color: #0a1551;
	text-decoration: none;
}

.pesquisa {
	background-color: transparent;
	text-align: center;
	height: 50px;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	border: none;
	font-size: 24px;
	font-weight: 700;
	color: #0a1551;
	text-decoration: none;
}

.lojometro a {
	text-decoration: none;
	color: #0a1551;
}

.pesquisa a {
	text-decoration: none;
	color: #0a1551;
}

/*body*/

.titulo-principal {
	display: block;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	font-size: 30px;
	font-weight: 600;
	margin-top: 70px;
	margin-bottom: 30px;
}


div.infos {
	min-height: 24px;
	line-height: 48px;
	font-size: 24px;
	font-weight: 700;
	color: #0a1551;
	margin: 24px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.localizacao {
	min-height: 24px;
	line-height: 48px;
	font-size: 24px;
	font-weight: 700;
	color: #0a1551;
	margin: 24px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.produto {
	min-height: 24px;
	line-height: 48px;
	font-size: 24px;
	font-weight: 700;
	color: #0a1551;
	margin: 24px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.datastatus {
	min-height: 24px;
	line-height: 48px;
	font-size: 24px;
	font-weight: 700;
	color: #0a1551;
	margin: 24px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

select {
	font-weight: bolder;
	font-stretch: 50px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-kerning: auto;
	text-rendering: auto;
	color: black;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	appearance: auto;
	cursor: text;
	background-color: white;
	margin: 0em;
	padding: 1px 2px;
	border-width: 2px;
	border-style: inset;
	border-color: #afafaf;
	border-image: initial;
	border-radius: 6px;
}


input {
	writing-mode: horizontal-tb;
	font-weight: inherit;
	font-stretch: 50px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-kerning: auto;
	text-rendering: auto;
	color: black;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	appearance: auto;
	cursor: text;
	background-color: white;
	margin: 0em;
	padding: 1px 2px;
	border-width: 2px;
	border-style: inset;
	border-color: #afafaf;
	border-image: initial;
	border-radius: 6px;
	padding-left: 10px;
}

.formulario {
	position: static;
	display: flex;
	left: 37%;
	top: 29%;
}

.formulario.label {
	font-size: 100px;
}


.button-container {
	display: flex;
	margin-top: 60px;
	margin-left: 300px;
	margin-right: 300px;
}

.send {
	display: flex;
	background-color: #c0392b;
	width: 200px;
	height: 80px;
	line-height: 100px;
	margin: auto;
	color: #fff;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	overflow: hidden;
	border: none;
	border-radius: 6px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.send span,
.send .icon {
	display: block;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
}

.send span {
	width: 72%;
	line-height: 83px;
	font-size: 19px;
	text-transform: uppercase;
	left: 0;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.send span:after {
	content: '';
	background-color: #a53125;
	width: 2px;
	height: 70%;
	position: absolute;
	top: 15%;
	right: -1px;
}

.send .icon {
	width: 30%;
	right: 0;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
	background-image: url("send.png");
	background-repeat: no-repeat;
	background-position: right 20px center;
	background-size: 35%;
}

.send.success {
	background-image: url("verifica.png");
	background-color: #27ae60;
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: center center;
}


.send.success span,
.send:hover span {
	left: -72%;
	opacity: 0;
}

.send.success .icon,
.send:hover .icon {
	width: 100%;
}

.send.success .icon,
.send:hover .icon {
	font-size: 45px;
}

.send:hover {
	opacity: 0.9;
}

.send:hover .icon {
	width: 32%;
	transform: translateX(-115%);
}

.send:hover.icon {
	background-image: url("send.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.send:active {
	opacity: 1;
}

.send.success span,
.send:hover span {
	left: -72%;
	opacity: 0;
}

.send.reset {
	background-color: #c0392b;
	background-image: url("send.png");
	background-position: right 30px center;
}

.send.reset span {
	opacity: 1;
	left: 0;
}

.send.reset .icon {
	width: 28%;
	right: 0;
	background-image: url("send.png");
	background-repeat: no-repeat;
	background-position: right 30px center;
	background-size: 35%;
}

/*Add produtos*/

.add {
	display: flex;
	background-color: #c0392b;
	width: 200px;
	height: 80px;
	line-height: 100px;
	margin: auto;
	color: #fff;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	overflow: hidden;
	border: none;
	border-radius: 6px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.add span,
.add .icon2 {
	display: block;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
}

.add span {
	width: 72%;
	line-height: 83px;
	font-size: 20px;
	text-transform: uppercase;
	left: 0;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.add span:after {
	content: '';
	background-color: #a53125;
	width: 2px;
	height: 70%;
	position: absolute;
	top: 15%;
	right: -1px;
}

.add .icon2 {
	width: 26%;
	right: 3px;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.add.success2 {
	background-image: url("verifica.png");
	background-color: #27ae60;
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: center center;
}


.add.success2 span,
.add:hover span {
	left: -72%;
	opacity: 0;
}

.add.success2 .icon2,
.add:hover .icon2 {
	width: 100%;
}

.add.success2 .icon2,
.add:hover .icon2 {
	font-size: 45px;
}

.add:hover {
	opacity: 0.9;
}

.add:hover .icon2 {
	width: 32%;
	transform: translateX(-100%) translateY(-15%);
}

.add:hover.icon2 {
	background-image: url("add.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.add:active {
	opacity: 1;
}

.add.success2 span,
.add:hover span {
	left: -72%;
	opacity: 0;
}

.add.reset {
	background-color: #c0392b;
	background-image: url("add.png");
	background-position: right 30px center;
}

.add.reset span {
	opacity: 1;
	left: 0;
}

.add.reset .icon2 {
	width: 28%;
	right: 0;
	background-image: url("add.png");
	background-repeat: no-repeat;
	background-position: right 30px center;
	background-size: 35%;
}



/*Limpar*/

.clean {
	display: flex;
	background-color: #c0392b;
	width: 200px;
	height: 80px;
	line-height: 100px;
	margin: auto;
	color: #fff;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	overflow: hidden;
	border: none;
	border-radius: 6px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.clean span,
.clean .icon3 {
	display: block;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
}

.clean span {
	width: 72%;
	line-height: 83px;
	font-size: 20px;
	text-transform: uppercase;
	left: 0;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.clean span:after {
	content: '';
	background-color: #a53125;
	width: 2px;
	height: 70%;
	position: absolute;
	top: 15%;
	right: -1px;
}

.clean .icon3 {
	width: 26%;
	right: 3px;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.clean.success3 {
	background-image: url("verifica.png");
	background-color: #27ae60;
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: center center;
}

.clean.success3 span,
.clean:hover span {
	left: -72%;
	opacity: 0;
}

.clean.success3 .icon3,
.clean:hover .icon3 {
	width: 100%;
}

.clean.success3 .icon3,
.clean:hover .icon3 {
	font-size: 45px;
}

.clean:hover {
	opacity: 0.9;
}

.clean:hover .icon3 {
	width: 32%;
	transform: translateX(-100%) translateY(-15%);
}

.clean:hover.icon3 {
	background-image: url("clean.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.clean:active {
	opacity: 1;
}

.clean.success3 span,
.clean:hover span {
	left: -72%;
	opacity: 0;
}

.clean.reset {
	background-color: #c0392b;
	background-image: url("clean.png");
	background-position: right 30px center;
}

.clean.reset span {
	opacity: 1;
	left: 0;
}

.clean.reset .icon3 {
	width: 28%;
	right: 0;
	background-image: url("clean.png");
	background-repeat: no-repeat;
	background-position: right 30px center;
	background-size: 35%;
}

footer{
	display: flex;
	height: 300px;
	width: 1980px;
	background-image: url('giphy.gif');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
}